<header class="header-main">
    <div class="header-content">
        <div class="header-content__group">
            <div class="header-content__icon" id="iconMenu">
              <div class="header-content__icon--icon"></div>
              <div class="header-content__icon--icon"></div>
              <div class="header-content__icon--icon"></div>
            </div>
            <div class="header-content__search">
              <div class="header-content__search--img">
                <img [src]="iconSearch" alt="">
              </div>
              <input type="text" name="" value="" placeholder="Buscar...">
            </div>
        </div>
        <div class="header-content__sign-off">
          <div class="header-content__sign-off--link" (click)="signOut()" style="cursor: pointer;">
            <img [src]="iconSignOff" alt="">
            <p>Cerrar sesión</p>
          </div>
        </div>
    </div>
</header>