@import "../../../../scss/variables";
@import "../../../../scss/mixins";

.header-main{
    background-color: $white;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.header-content{
    margin: auto;
    width: 95%;

    @include flex;
    @include justify-content(space-between);

    &__group{
        width: 50%;

        @include flex;

        @include media(768){
            width: 80%;
        }
    }

    &__icon{
        width: 7%;
        cursor: pointer;

        @include media(768){
            width: 12%;
        }

        &--icon{
            background-color: $blue;
            border-radius: 20%;
            height: 4px;
            margin-bottom: 5px;
            width: 30px;
        }

        &--icon:nth-child(1){
            margin-top: 5px; 
        }
    }

    &__search{
        padding: 0 20px;
        width: 93%;

        @include flex;

        @include media(768){
            width: 88%;
        }

        &--img{
            margin-right: 10px;
            img{
                width: 25px;
            }
        }

        input{
            border: 0;
            border-radius: 10px;
            color: $silverThree;
            padding: 0 10px;
            width: 100%;

            &:focus{
                box-shadow: 0 0 0pt 1pt rgba($blue, 0.7);
                border-radius: 10px;
                outline: 0;
            }
        }
    }

    &__sign-off{
        width: 50%;

        @include flex;
        @include align-items(center);
        @include justify-content(flex-end);

        @include media(768){
            width: 20%;
        }

        &--link{
            @include flex;

            &:hover{
                text-decoration: none;
            }
        }

        img{
            margin-right: 5px;
            width: 25px;
            height: 25px;
        }

        p{
            color: $silverThree;
            padding: 0;

            @include media(768){
                display: none;
            }
        }
    }
}