<div id="notfound">
    <div class="notfound">
        <div class="notfound-404">
            <h3>Ups! Página no encontrada</h3>
            <h1><span>4</span><span>0</span><span>4</span></h1>
        </div>
        <h2>Lo sentimos, no existe la página</h2>
    </div>
</div>