<div class="row">
    <div class="col-md-12">
        <p style="margin-bottom: 20px; font-size: 14px;"><strong>Los campos marcados con (<span class="fa fa-asterisk span-required"></span>) son obligatorios</strong></p>
    </div>
</div>