@import "../../../../scss/variables";
@import "../../../../scss/mixins";

.bread-crumbs{
    img{
        width: 20px;
    }

    &__navigation{
        padding: 0;

        @include flex;
        @include align-items(center);

        li{
            a{
                color: $silverTwo;
                display: block;
                padding: 5px;
            }
        }

        .active-brad-crumbs{
            a{
                color: $blue;
                font-weight: 700;
            }
        }
    }
}