<section class="bread-crumbs">
    <ul class="bread-crumbs__navigation">
        <ng-container *ngFor="let breadcrumb of breadcrumbs">
            <li>
                <a  [ngClass]="{'active-brad-crumbs' : last}" (click)="redirect(breadcrumb.url)" style="cursor: pointer">
                    <span *ngIf="!first">/</span>
                    {{breadcrumb.label}}
                </a>
            </li>
        </ng-container>
    </ul>
</section>
