<div *ngIf="isMasterLoader">
    <ngx-ui-loader
        fgsColor="#b3bd34" 
        fgsType="wandering-cubes"
        fgsSize="120">
    </ngx-ui-loader>
</div>
<div *ngIf="!isMasterLoader">
    <ngx-ui-loader
        [loaderId]="'page-loader'"
        fgsColor="#b3bd34" 
        fgsType="wandering-cubes"
        fgsSize="120">
    </ngx-ui-loader>
</div>