@import "../../../../scss/variables";
@import "../../../../scss/mixins";

.menu-main{
    height: calc(100% - 52px);
    position: fixed;
    top: 52px;
    left: 0;
    width: $calcWidthMain;
    z-index: 99;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.15) 0.5s;

    @include media(1050){
        transform: translateX(-100%);
        transition: all 0.5s;
    }

    &:before{
        background-color: rgba($silverThree, 0.5);
        content:"";
        height: 95%;
        position: absolute;
        right: 0;
        top: 2.5%;
        width: 2px;
    }

    &__profile{
        background-color: $white;
        border-radius: 100%;
        border: solid 6px $silverFour;
        box-shadow: 0 0 10px rgba(0,0,0,0.2);
        height: 120px;
        margin-top: 30px;
        position: relative;
        text-align: center;
        width: 120px;

        @include media (768){
            height: 90px;
            width: 90px;
        }

        @include flex;
        @include align-items(center);
        @include justify-content(center);

        &--img{
            width: 60px;

            @include media (768){
                width: 40px;
            }

        }

        &--options{
            background-color: $blue;
            box-shadow: 0 0 10px rgba(0,0,0,0.2);
            border-radius: 100%;
            height: 30px;
            line-height: 0px;
            position: absolute;
            padding: 5px;
            right: 0;
            top: 0;
            width:30px;
            transition: cubic-bezier(0.175, 0.885, 0.32, 1.15) 0.5s;

            @include media (768){
                top: -10px;
                right: -5px;
            }

            img{
                width: 20px;   
            }
        }
    }

    &__group{
        position: relative;     
    }

    &__groupPf{
        @include flex;
        @include justify-content(center);
    }

    &__tltName{
        color: $silverFive;
        font-size: 2em;
        font-weight: 700;
        margin-top: 15px;
        margin-bottom: 15px;
        text-transform: uppercase;
        text-align: center;

        @include media (768){
           font-size: 1em;
           margin-bottom: 0px;
        }
    }
}

.menu-content{
    padding-top: 10px;

    &__main{
        padding: 0;

        li{
            a{
                color: $silverThree;
                display: block;
                font-weight: 600;
                font-size: 0.9em;
                padding: 10px 50px;
                position: relative;
                text-transform: uppercase;
                transition: all 0.5s;

                i{
                    margin-right: 10px;
                    font-size: 1.3em;
                    position: absolute;
                    left: 20px;  
                    transition: all 0.5s;                        
                }

                &:hover{
                    background-color: rgba(255,255,255,0.4);
                    color: $textMenu;
                    padding: 10px 55px;

                    i{
                        color: $textMenu;
                        left: 25px;          
                    }

                    &:before{
                        display: block;
                    }
                }

                &:before{
                    background-color: $blue;
                    content: "";
                    display: none;
                    height: 100%;
                    position: absolute;
                    right: 0;
                    top: 0;
                    width: 5px;
                }
            }

            &:hover{
                .menu-content__submenu{
                    display: block;
                }
            }
        }

        .activeMenu>a{
            background-color: rgba(255,255,255,0.4);
            color: $textMenu;

            &:before{
                display: block;
            }

        }

        .activeMenuTwo{
            background-color: rgba(255,255,255,0.4);
            display: block;
           
            li{
                a{
                    color: $silverTwo;
                    padding-left: 50px;

                    &:before{
                        display: block;
                    }
                }
            }
          
        }
    }

    &__submenu{
        background-color: rgba(255,255,255,0.4);
        display: none;
        padding-left: 20px;
        width: 100%;

        li{
            a{
                border-top: solid 1px rgba(0,0,0,0.1);
                
                &:hover{
                    padding-left: 50px;

                    i{
                        color: $textMenu;
                        left: 20px;          
                    }
                }
            }
        }
    }
}


.activeContentMenu{
    ul{
        li{
            a{
                i{    
                    animation: linkMenu 0.8s forwards; 
                }
            }
        }
    }
}

.activeMenuMobile{
    background-color: $silver;
    transform: translateX(0);
}

.activeMenu.menu-main{
    transform: translateX(-80%);

    .menu-main__profile{
        background-color: transparent;
        border-radius: 100%;
        border: solid 0px $silverFour;
        box-shadow: 0 0 10px rgba(0,0,0,0.0);
        width: 100%;

        &--options{
            height: 25px;
            top: 150px;
            right: 10px;
            width: 25px;

            animation: 0.85s optionsActive forwards; 

            img{
                width: 18px;
                margin-top: -1px;
                margin-left: -1px;
            }
        }
    }
}

@keyframes linkMenu{
    0%{
        left: 0%;
        opacity: 0;
    }
    40%{
        left: 86%;
        opacity: 1;
    }
    50%{
        left: 84%;
        opacity: 1;
    }
    70%{
        left: 86%;
        opacity: 1;
    }
    100%{
        left: 86%;
        opacity: 1;
    }
}

@keyframes optionsActive{
    0%{
        opacity: 0;
        height: 25px;
        top: 150px;
        right: 0px;
        width: 25px;
    }
    40%{
        right: 12px;
        opacity: 1;
    }
    100%{
        right: 12px;
        opacity: 1;
    }
}
