*{
    font-family: 'Open Sans', sans-serif;
}

body{
    background-color: $silver;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p{
    margin:0;
    padding:0;
}

li{
    list-style: none;
    a{
        text-decoration: none;

        &:hover,
        &:focus{
            text-decoration: none;
        }
    }
}

.wrap-main{
    padding: 30px;
    margin-left: $calcWidthMain;
    margin-top: 52px;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.15) 0.5s;

    @include media(1050){
        margin-left: 0;
    }

    @include media(768){
        padding-top: 10px;
    }
}

.activeWrap{
    margin-left: 80px;
}

.fadeIn{
    animation: fadeInElement 0.7s forwards;
}

@keyframes fadeInElement{
    from{
        opacity: 0;
        margin-top: -20px;
    }
    to{
        opacity: 1;
        margin-top: 0px;
    }
}

.tlt-generic{
    color: $silverTlt;
    font-weight: 300;
    font-size: 2em;
    margin-top: 40px;
    margin-bottom: 40px;
    position: relative;
    text-transform: uppercase;

    @include media (768){
        font-size: 1.5em;
        margin-top: 0px;
        margin-bottom: 30px;
    }

    &:before{
        background-color: $green;
        bottom: -10px;
        content: "";
        height: 2px;
        position: absolute;
        left:0;
        width: 100px;
    }
}

.content-generic{
    background-color: $white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 30px;
}

.form-wrap{
    background-color:#f2f2f2;
    position: relative;
    transition: all 1.5s;

    @include media (768){
        overflow: auto;
    }
    
    &__group{
        padding: 20px 25px;
    }

    &__tlt{
        border-bottom: solid 1px rgba(0,0,0,0.1);
        color: $silverTwo;
        padding-bottom: 10px;
        text-transform: uppercase;
    }

    &__close{
        color: $green;
        cursor: pointer;
        font-weight: 700;
        font-size: 1.2em;
        position: absolute;
        right: 15px;
        top: 15px;
    }
}

.form-box{
    margin-top: 20px;
    margin-bottom: 10px;
    position: relative;

    @include flex;
    @include align-items(center);
    @include flex-wrap;

    &__group{
        padding: 5px;

        label{
            color: $silverTwo;
            font-weight: 600;
            width: 100%;
        }
        input, select{
            background-color: $white;
            border: solid 1px rgba(0,0,0,0.15);
            color: $silverTwo;
            font-weight: 300;
            padding: 7px;
            width: 100%;
        }

        &--delete{
            color: $red;

            @include flex;
            @include align-items(center);

            i{
                font-size: 1.8em;
                margin-right: 10px;
            }
        }
    }

    &__group:nth-child(1),
    &__group:nth-child(2){
        width: 25%;

        @include media (768){
            width: 100%;
        }
    }

    &__group:nth-child(3){
        width: 35%;

        @include media (768){
            width: 100%;
        }
    }

    &__group:last-child{
        margin-top: auto;
        width: 15%;

        @include media (768){
            width: 100%;
        }
    }

    &__add{
        color: $silverTwo;
        font-weight: 300;
        padding-left: 5px;

        @include media (768){
            padding: 5px;
        }

        &:hover{
            color: $silverTwo;
        }

        img{
            margin-right: 5px;
            width: 25px;
        }
    }

    &__btn{
        border-top: solid 1px rgba(0,0,0,0.1);
        margin-top: 15px;
        padding-top: 15px;

        @include flex;
        @include justify-content(flex-end);

        @include media (500){
            @include flex-wrap;
        }

        &--close,
        &--search{
            border: 0;
            cursor: pointer;
            color: $white;
            font-size: 0.9em;
            font-weight: 500;
            padding: 7px 40px;
            text-transform: uppercase;

            @include media (500){
                margin-bottom: 10px;
                width: 100%;
            }
        }

        &--close{
            background-color: $silverThree;
            margin-right: 10px;

            @include media (500){
               margin-right: 0px;
               order: 2;
            }

            &:hover{
                background-color: darken($silverThree, 5%);
            }
        }

        &--search{
            background-color: $green;

            &:hover{
                background-color: darken($green, 5%);
            }
        }
    }

    &__generic{
        margin-right: 2.3%;
        width: 31%;

        @include media (991){
            width: 47%;
        }

        @include media (768){
            margin-right: 0%;
            width: 100%;
        }

        label{
            color: $silverTwo;
            font-weight: 700;
            font-size: 0.9em;
            width: 100%;
        }

        input,
        select{
            border: solid 1px rgba(0,0,0,0.15);
            color: $silverTwo;
            margin-bottom: 10px;
            padding: 10px;
            font-size: 0.8em;
            width: 100%;
        }

        &--calendar{
            @include flex;
            @include align-items(center);

            i{
                color: $green;
                font-size: 1.5em;
                margin-left: 10px;
            }
        }
    }

    &__deleteMain{
        border-top: solid 1px rgba(0,0,0,0.1);
        padding: 10px;

        @include flex;
        @include justify-content(flex-end);

        @include media (768){
            @include justify-content(flex-start);
        }

        a{
            color: $red;

            i{
                font-size: 1.5em;
            }
        }
    }
}

.no-border{
    border: 0;
}

.add-user{
    margin-bottom: 20px;

    @include flex;
    @include justify-content(flex-end);

    img{
        width: 25px;
        margin-right: 10px;
    }

    a{
        color: $silverTwo;
        font-weight: 300;
    }
}