//estilos del toast
// regular style toast 
@import '~ngx-toastr/toastr';
 
 
// if you'd like to use it without importing all of bootstrap it requires 
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
// @import '~ngx-toastr/toastr-bs4-alert';

.list-vineta {
      li {
          list-style: disc !important;
          font-family: cursive;
      }
  }

.page-link {
    position: relative;
    display: block;
    padding: $pagination-padding-y $pagination-padding-x;
    margin-left: -$pagination-border-width;
    line-height: $pagination-line-height;
    color: $silverThree;
    background-color: transparent;
    border: medium none;
    border-radius: 100%;
  
    &:hover {
      z-index: 2;
      color: $pagination-hover-color;
      text-decoration: none;
      background-color: $pagination-hover-bg;
      border-color: $pagination-hover-border-color;
    }
  
    &:focus {
      z-index: 2;
      outline: $pagination-focus-outline;
      box-shadow: none;
    }
  
    // Opinionated: add "hand" cursor to non-disabled .page-link elements
    &:not(:disabled):not(.disabled) {
      cursor: pointer;
    }
  
    i{
      padding: 0 10px;
    }
  }
  
  .page-item {
    margin-left: 1px;
    margin-right: 1px;
    &.active .page-link {
      background-color: $pagination-active-bg;    
    }
  }
  
  .pagination-next {
    .page-link {
      &:hover {      
        color: #b3bd34;
        text-decoration: none;
        background-color: transparent;      
      }
    }
  }
  
  .pagination-prev {
    .page-link {
      &:hover {      
        color: #b3bd34;
        text-decoration: none;
        background-color: transparent;      
      }
    }
  }
  
  .pagination-first,
  .pagination-last {
    display: none;
  }

  .toast {
    opacity: 1;
  }

  .app-loading {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  .app-loading .spinner {
    height: 200px;
    width: 200px;
    animation: rotate 2s linear infinite;
    transform-origin: center center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  .app-loading .spinner .path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    animation: dash 1.5s ease-in-out infinite;
    stroke-linecap: round;
    stroke: #ddd;
  }
  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes dash {
    0% {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -35px;
    }
    100% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -124px;
    }
  }
