@mixin flex{
    display: flex;
    display: -webkit-flex;
    display: -o-flex;
    display: -moz-flex;
    display: -ms-flex;
}

@mixin justify-content($value){
    justify-content: $value;
    -moz-justify-content: $value;
    -o-justify-content: $value;
    -ms-justify-content: $value;
    -webkit-justify-content: $value;
}

@mixin align-items($value){
    align-items: $value;
    -moz-align-items: $value;
    -o-align-items: $value;
    -ms-align-items: $value;
    -webkit-align-items: $value;
}

@mixin flex-wrap{
    flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}

/* Mixin for responsive */

@mixin media($breakpoint){
    @if map-has-key($breakpoints, $breakpoint){
        @media (max-width: map-get($breakpoints, $breakpoint)){
            @content;
        }
    }
}