$silver:      #e3e3e3;
$silverTwo:   #616161;
$silverThree: #9f9f9f;
$silverFour:  #f7f7f7;
$silverFive:  #8a8a8a;
$silverTlt:   #7b7b7b;
$green:       #b3bd34;
$blue:        #006fb8;
$red:         #f64f4f;
$white:       #fff;
$hoverMenu:   #e9e9e9;
$textMenu:    #4c4c4c;

$calcWidthMain: 250px;

$breakpoints: (
    1200:  1200px,
    1050:  1050px,
    1000:  1000px,
    991:   991px,
    768:   768px,
    500:   500px,
    400:   400px
);

$pagination-active-bg: #b3bd34;
$pagination-hover-color: #fff;
$pagination-hover-bg: #b3bd34;
$pagination-padding-y: 7px;
$pagination-padding-x: 14px;
$pagination-line-height: 1.5;